body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	width: 100vw;
	height: 100vh;
}

canvas {
	width: 80vh;
}